.sgn-article-padding
  margin-left: 15px

.sgn-article-text
  margin-top: 5px !important
  font-size: 1.2em
  a:hover
    text-decoration: none

.sgn-article-meta
  span, p
    margin: 0
    margin-top: 5px

.sgn-container-color
  background-color: #282c34

.sgn-padding
  padding: 10px

.sgn-padding-top
  padding-top: 15px !important

.sgn-source
  font-size: 0.8em

body
  background-color: #21252b

.sgn-panel
  display: block
  position: relative
  ul
    list-style: none
    padding: 0 15px
  a:hover
    text-decoration: none
  .sgn-panel-title
    padding: 0 10px
    background-color: #DE8870
    color: #444
    font-size: 16px
    margin-bottom: 10px

.uk-article
  background-color: #282c34
  padding: 10px
  border-bottom: 2px #DE8870 solid

.sgn-form-searchNews
  label
    display: block
  .uk-dropdown
    padding: 0 15px
  input[type=submit]
    vertical-align: bottom !important
  div
    margin-right: 10px

#sgn-newsSearch-articles
  min-height: 500px
