@mixin hook-accordion-title()
  background-color: transparent
  padding: 5px 0
  margin: 0
  font-size: 24px

@mixin hook-article-divider()
  margin-top: 0 !important
  margin-bottom: 0
  border-color: #87c8ce

@mixin hook-button-primary()
  background-color: #87c8ce
  color: #000 !important

@mixin hook-button-primary-hover()
  background-color: #7ab0b5
  color: #fff !important

@mixin hook-button-hover()
  color: #444 !important

@mixin hook-article-title()
  margin: 0
  font-size: 32px

@mixin hook-nav-header()
  color: #afaeae !important

@mixin hook-nav-side()
  color: #db5f3d

@mixin hook-nav-side-hover()
  color: #3AB2B2

@mixin hook-navbar()
  z-index: 100

@mixin hook-thumbnail()
  padding: 0
  border-color: #DE8870
  background: #DE8870

@mixin hook-block()
  li
    list-style: none
  ul
    padding: 0
@mixin hook-subnav()
  a:before
    border: none


//@mixin hook-base-body()
  background-color: #21252b
