{% extends "news/index.html" %}
{% block main %}
<h1>Changelog</h1>

<dl class='uk-margin-bottom'>
  <dt>31-03-2017</dt>
  <dd>- Form to search news</dd>
  <dd>- Pagination in one unique news is not shown</dd>
</dl>

{% endblock %}
