{% extends "news/index.html" %}
{% block main %}

<div class='uk-margin-bottom sgn-container-color sgn-padding'>
  <h1>What is shortgamenews</h1>

  <p>Here you will find short news about videogames.</p>
  <p>Many times, when you read a news, there are information that you don't need,
  and the only one thing you want to is know the important part.</p>
  <p>So that is, just the news, not more useless text.</p>
  <p>Then, you can read more news in less time.</p>

  <h1>Why do i need to load the images</h1>

  <p>I am attempting to make the <strong>front page</strong> fast and use less data on mobile.</p>
  <p>so for now, the images are not needed unless you want to watch them.</p>

  <h1>The web page is ugly</h1>

  <p>What I have been looking for is a web with colors that are easy to read and
    don't get hurt with a intense white</p>
  <p>Also, I am not good designing the interface</p>
  <p>Anyway, I will try to improve it</p>

  <h1>I have an idea to improve the web</h1>

  <p>For now, you can tell me it on <a href="#">twitter</a></p>
  <p>Later I will add a form to send me the ideas you got</p>

  <h1>Changelog</h1>

  <p>Here, I will be writing the changes I have made on shortgamenews.</p>
</div>

{% endblock %}
