{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "news/css/shortGameNews.css" %}" />
    <script src="{% static "news/js/jquery.min.js" %}"></script>
    {% comment %}
    <script src="{% static "news/js/uikit.min.js" %}"></script>
    <script src="{% static "news/js/components/notify.min.js" %}"></script>
    <script src="{% static "news/js/components/accordion.min.js" %}"></script>
    <script src="{% static "news/js/components/lightbox.min.js" %}"></script>
    <script src="{% static "news/js/components/sticky.min.js"%}"></script>
    {% endcomment %}
    <script src="{% static "news/js/uikitSgn.js" %}"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <title>Short Game News</title>
    <link rel="icon" href="{% static "news/icon.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% block nav %}
    <nav class="uk-navbar" data-uk-sticky>
      <div class='uk-container uk-container-center'>
        <a href="{% url 'news:index' %}" class="uk-navbar-brand uk-padding-remove">
          <img class="uk-responsive-height" src="{% static "news/icon.png" %}" alt='shortgamenews'></img>
        </a>
        <ul class="uk-navbar-nav">
            <li class=""><a href="{% url 'news:searchNews' %}">Search News</a></li>
            <!--<li class=""><a href="">Changelog</a></li>-->
        </ul>
        <div class="uk-navbar-flip">
          <ul class="uk-navbar-nav">
              <li class=""><a href="{% url 'news:faq' %}">About</a></li>
              <!--<li class=""><a href="">Changelog</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    <div class='uk-container uk-container-center'>
      <div class='uk-grid sgn-padding-top uk-margin-bottom'>
        <div class='uk-width-medium-8-10 uk-width-small-1-1'>
          {% block main %}{% endblock %}
        </div>
        <div class='uk-width-medium-2-10 uk-width-small-1-1'>
          <!--<div class="sgn-panel">
            <h2 class="sgn-panel-title">Follow me</h2>
            <div>
              <ul>
                <li><a href='https://twitter.com/shortgamenews'>Twitter</a></li>
                <li><a href='https://www.youtube.com/user/shortgamenews'>Youtube</a></li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div class="uk-block uk-block-secondary uk-contrast">
      <div class='uk-container uk-container-center'>
        <ul class='uk-subnav uk-subnav-line uk-align-left'>
          <li><a href="{% url 'news:changelog' %}">Changelog</a></li>
        </ul>
        <ul class='uk-subnav uk-subnav-line uk-align-right'>
          <li><a href="https://twitter.com/shortgamenews" target="_blank" class="uk-icon-hover uk-icon-medium uk-icon-twitter"></a></li>
          <li><a href="https://www.youtube.com/channel/UCeU9BN6qS7X1rWMkppFfZgQ" target="_blank" class="uk-icon-hover uk-icon-medium uk-icon-youtube"></a></li>
        </ul>
      </div>
    </div>
    <script src="{% static "news/js/bundle.min.js" %}"></script>
    <!-- css for cookies consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <!-- cookies consent-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      }
    })});
    </script>
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65610703-3', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
