{% extends "news/index.html" %}

{% block main %}
<div class='sgn-container-color sgn-padding uk-margin-bottom'>
  <form action="{% url 'news:searchNews' %}" method="post" class='uk-form sgn-form-searchNews'>
      {% csrf_token %}
      <fieldset>
        <div class="uk-autocomplete" data-uk-autocomplete="{source: {{ dataJson.games }} }">
        <label for="{{ form.games.id_for_label }}">{{ form.games.label }}</label>
          {{ form.games }}
        </div>

        <div class="uk-autocomplete" data-uk-autocomplete="{source: {{ dataJson.platforms }} }">
        <label for="{{ form.platforms.id_for_label }}">{{ form.platforms.label }}</label>
          {{ form.platforms }}
        </div>

        <div class="uk-autocomplete" data-uk-autocomplete="{source: {{ dataJson.category }} }">
        <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
          {{ form.category }}
        </div>

        <div class='uk-autocomplete'>
        <label for="{{ form.subject.id_for_label }}">{{ form.order.label }}</label>
          {{ form.order }}
        </div>
        <input type="submit" value="Submit" class='uk-button uk-button-primary'/>
      </fieldset>
  </form>
</div>
<div id='sgn-newsSearch-articles'>
</div>
{% endblock %}
