{% extends "news/index.html" %}
{% load static %}
{% load news_filters %}
{% block main %}

{% for n in news %}
{# Variables #}
{% url 'news:showOne' n.pk as socialUrl %}

{# Plantilla #}
<article class="uk-article">
  <h1 class="uk-article-title">{{ n.title }}</h1>
  <div class='sgn-article-padding'>
    <div class='sgn-article-meta'>
      {% if n.category %}
        <span class="uk-badge">{{ n.category.name }}</span>
      {% endif %}
      {% if n.platforms.exists %}
        {% for p in n.platforms.all %}
          <span class="uk-badge uk-badge-success">{{ p.name }}</span>
        {% endfor %}
      {% endif %}
      <p class="uk-article-meta">
        Date: {{ n.date }}
        {# Updated: {{ n.updated }} #}
      </p>
    </div>
    <hr class="uk-article-divider">
    <div class='sgn-article-text'>
      <div class='uk-grid'>
        <div class='uk-width-medium-7-10'>
            {{ n.text|mk }}
          {% if n.images.exists %}
            <div class='gallery-{{ n.id }}'>
              <button id="{{ n.id }}" class='uk-button uk-button-primary' data-sgn-images>Load images</button>
            </div>
          {% endif %}
        </div>
        <div class='uk-width-medium-3-10'>
          {% if n.games.exists %}
          <ul class="uk-nav uk-nav-side">
            <li class='uk-nav-header'>More about</li>
            {% for g in n.games.all %}
              <li><a href="{{ g.web }}" rel="nofollow" target="_blank">{{g.name}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class='uk-width-1-1 sgn-source uk-margin-top'>
          {% if n.source %}
            <span class='uk-text-bold'>Source: <a href="{{ n.source }}" target="_blank">{{ n.nameSource }}</a></span>
          {% endif %}
        </div>
        <div class='uk-width-1-1 uk-margin-small-top'>
          {% url 'news:showOne' n.pk as socialUrl %}
          <ul class='uk-subnav uk-subnav-line'>
            {% socialButtons name='shortgamenews' url=socialUrl path=path text=n.title size='small' %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
{% endfor %}

{% if news.paginator %}

<div class='uk-margin-top'>
  {% if news.has_previous %}
      <a class='uk-button uk-button-primary' href="?page={{ news.previous_page_number }}">previous</a>
  {% endif %}

  <span class="current">
      Page {{ news.number }} of {{ news.paginator.num_pages }}.
  </span>

  {% if news.has_next %}
      <a class='uk-button uk-button-primary' href="?page={{ news.next_page_number }}">next</a>
  {% endif %}
</div>

{% endif %}

<div id='test'>
</div>
{% endblock %}
