{% extends "news/index.html" %}
{% block main %}
<h1> You are not allowed to do this action </h1>
<h2 class='uk-margin-large-bottom'> You must be logged and has permistions to do this action </h2>
{% endblock %}
