<li><a href="https://twitter.com/share"
  data-url="http://shortgamenews.com{{ options.url }}"
  data-via="{{ options.name }}"
  data-text="{{ options.text }}"
  data-size="{{ options.size }}"
  class="twitter-share-button"
  data-show-count="false">Tweet</a></li>

<!--<a href="{{ options.url }}"> Esta es la url </a>-->
